<nav class="navbar navbar-expand-md bg-primary navbar-dark">
  <a class="navbar-brand" href="#">Welcome To Production Management System!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
      <a class="nav-item nav-link active" href="/report">Reports</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row select-box overview-item--c3">
    <div class="col-md-3">
      <div class="form-group">
        <label>Line Id</label>
        <select class="form-control" [(ngModel)]="selectedLine" (ngModelChange)="onLineSelected($event)">
          <option *ngFor="let iotLine of iotLines" [ngValue]="iotLine">Line {{iotLine.LineId}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Section Id</label>
        <select class="form-control" [(ngModel)]="selectedSection" (ngModelChange)="onSectionSelected($event)">
          <option *ngFor="let sectionId of selectedLine.SectionIds" [ngValue]="sectionId">Section {{sectionId}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Employee Name</label>
        <select class="form-control" [(ngModel)]="selectedEmployee" (ngModelChange)="onEmployeeSelected($event)">
          <option *ngFor="let employee of employees" [ngValue]="employee">{{employee.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Aggregation Time Period</label>
        <input type="text" class="form-control" [(ngModel)]="selectedTimePeriod" (ngModelChange)="onTimePeriodSelected($event)" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="au-card">
        <h3>Processing Rate</h3>
        <div class="recent-report__chart">
          <canvas id="canvas">{{ processingRateChart }}</canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="au-card">
        <h3>Error Percentage</h3>
        <div class="recent-report__chart">
          <canvas id="canvas2">{{ errorPercentageChart }}</canvas>
        </div>
      </div>
    </div>
  </div>
</div>