<nav class="navbar navbar-expand-md bg-primary navbar-dark">
  <a class="navbar-brand" href="#">Welcome To Production Management System!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" href="/dashboard">Dashboard</a>
      <a class="nav-item nav-link" href="/report">Reports</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="select-box overview-item--c3">
        <div class="form-group">
          <select class="form-control select" [(ngModel)]="selectedLine" (ngModelChange)="onLineSelected($event)">
            <option *ngFor="let iotLine of iotLines" [ngValue]="iotLine">Line {{iotLine.LineId}}</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control select" [(ngModel)]="selectedSection" (ngModelChange)="onSectionSelected($event)">
            <option *ngFor="let sectionId of selectedLine.SectionIds" [ngValue]="sectionId">Section {{sectionId}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="overview-item overview-item--c1">
        <div class="overview__inner">
          <div class="overview-box clearfix">
            <div class="icon">
              <i class="fa fa-dolly"></i>
            </div>
            <div class="text">
              <h2>{{currentProcessingRate}} per second</h2>
              <span>Current Processing Rate</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="overview-item overview-item--c2">
        <div class="overview__inner">
          <div class="overview-box clearfix">
            <div class="icon">
              <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="text">
              <h2>{{currentErrorPercentage}}%</h2>
              <span>Current Error Percentage</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="au-card">
        <h3>Processing Rate</h3>
        <div class="recent-report__chart">
          <canvas id="canvas">{{ processingRateChart }}</canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="au-card">
        <h3>Error Percentage</h3>
        <div class="recent-report__chart">
          <canvas id="canvas2">{{ errorPercentageChart }}</canvas>
        </div>
      </div>
    </div>
  </div>
</div>